<html>

<head>
    <link rel="stylesheet" type="text/css" href="./stylerefactor.css">

    <title>Random Swap</title>
</head>

<body>
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <!-- <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.34/dist/web3.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/web3/3.0.0-rc.5/web3.min.js"></script>




    <script src="./swap.mjs" type="text/javascript"></script>

    <header class="page-header" style="text-align: center;">Random Swap
        <!-- <img src="https://img.icons8.com/ios/452/ethereum.png"></img> -->
        <!-- <h1>
            Random Swap
        </h1> -->
        <select id="network">
            <option value="BSC">BSC</option>
            <option value="ETH">ETH</option>
            
        </select>
    </header>
    <div style="text-align: center;">
        <p>Swap ??? to ???</p>
        <div style="text-align: center;">
            <!-- <p id="swapP">Swap ??? to ???</p> -->
            <!-- <p>This is another paragraph.</p> -->
            <form style="text-align: center;">
                <label for="token1">Token to Swap</label>
                <input type="text" id="token1" name="token1" value="ETH">
                <!-- <br><br> -->
                <label for="amoundId">Amount to Swap</label>
                <input type="text" id="amountId" name="amoundId" value="0.01">
                <!-- <br><br> -->
                <!-- <label for="lname">Last name:</label>
                    <input type="text" id="lname" name="lname"><br><br> -->
                <!-- <input type="submit" value="Submit"> -->
            </form>
            <!-- <button onclick="testPost()">POST</button> -->
            <button id="connectButton" onclick="mmConnect()">Connect to MetaMask</button>
            <button id="swapButton" onclick="getTokens()">SWAP</button>
            <button id="addTokenButton" onclick="addToken()">Add to MetaMask</button>
            <br>
            <!-- <p id="currAccount"></p> -->
            <!-- <br> -->
            <p id="output"></p>
        </div>
        <table id="txnTable">
            <caption>Recent Swaps</caption>
            <!-- <tr>
                <th>Address</th>
                <th>Token</th>
                <th>Token</th>
            </tr> -->
            <!-- <tr>
                <td>0xde336686ba638C545a46F58B3Dd46D0b9be23769</td>
                <td>ETH</td>
                <td>DAI</td>
                <td>0.01</td>
            </tr>
            <tr>
                <td>0xde336686ba638C545a46F58B3Dd46D0b9be23769</td>
                <td>DAI</td>
                <td>WETH</td>
                <td>0.002</td>
            </tr> -->




        </table>
        <br>
        <br>
        <br>
        <div class="popup" id="popup-1">
            <div class="overlay"></div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup()">×</div>
                <h1 id="popupTitle">You got ETH!</h1>
                <!-- <p id="popupSymbol">test</p> -->
                <button onclick="addToken()">Add token to metamask</button>

            </div>
        </div>

        <!-- <button onclick="togglePopup()">Show Popup</button> -->

    </div>

    <!-- <p>This is a paragraph.</p> -->
    <!-- <p>This is another paragraph.</p> -->

    <p hidden id="tokenAddress"></p>
    <p hidden id="tokenSymbol"></p>
    <p hidden id="tokenDecimals"></p>
    <p hidden id="txns">
        <%- JSON.stringify(txns) %>
    </p>

    <script type='text/javascript'>
        window.addEventListener("load", async function() {
            const web3 = new Web3(window.ethereum);
            let accounts = await web3.eth.getAccounts();
            web3.eth.defaultAccount = accounts[0];
            // document.getElementById('currAccount').innerHTML = accounts[0];

            // const txns = document.getElementById('txns').innerHTML;
            // console.log(txns);
            // console.log(txns.length);

            var txns = <%-JSON.stringify(txns)%>;
            console.log(txns);





            let table = document.getElementById('txnTable');
            for (i = 0; i < txns.length; i++) {
                var row = table.insertRow(i);
                row.insertCell(0).innerHTML = txns[i].address;
                row.insertCell(1).innerHTML = txns[i].token1;
                row.insertCell(2).innerHTML = txns[i].token2;
                row.insertCell(3).innerHTML = txns[i].amount;

            }

        })
    </script>



</body>

</html>